img {
  display: block;
  margin: auto;
  width: 30%;
  height: 30%;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
a {
  color: #000000;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
}

.imgnav {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 30px !important;
  height: 30px !important;
}

button {
  color:white;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}
